---
interface Props {
	text: string;
    goesTo: string;
    size?: string;
    borderColor?: string;
    theme: string
}



const { text, goesTo, size, borderColor, theme = "light" } = Astro.props;

const arrowColor = theme == "light" ? "#fff": "#0045AC";
---
<div class="contenedor">
<div class=`${size} btn ${borderColor} ${theme}`>
    <div class="slide-effect">          
    </div>
    <svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill=`${arrowColor}` d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg>    <a href={goesTo}>
        {text}
    </a>
</div>
</div>


<style>
    .contenedor {
        width: fit-content;
    }

    .btn{
        border: 1px solid var(--accent);
        background-color: none;
        display: flex;
        width: 300px;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        transition: 800ms;
        padding: 15px 0px;
        color:black;
        font-size: 20px;
        transition: 700ms;
    }

    a {
        margin-right: 50px;
        z-index: 10;
        font-weight: 600;
        text-decoration: none;
    }

    .slide-effect {
        top: 0;
        right: -10px;
        position: absolute;
        width: 25%;
        height: 105%;
        background-color: var(--accent);
        transform: skew(-20deg);
        transition: 800ms;
        z-index: 0;
    }

    .arrow {
        position: absolute;
        right: 18px;
        height: 20px;
        width: 20px;
    }

    .btn.sm{
        padding: 5px 0px;
        font-size: 15px;
        width: 180px;
    }

    .btn.dark {
        background-color: var(--accent);
        color: white;
    }

    .btn.white {
        border-color: white;
    }

    .btn.dark .slide-effect{
        background-color: white;
    }

    .sm .arrow {
        height: 15px;
        width: 15px;
        right: 15px
    }

    .sm .slide-effect {
        right: -5px;
        width: ;
    }


    .contenedor:hover .btn{
        box-shadow: 11px 13px 20px 9px rgba(0,0,0,0.1);
        color: white;
    }

    .contenedor:hover .btn.dark{
        box-shadow: 11px 13px 20px 9px rgba(0,0,0,0.1);
        color: var(--accent);
    }

    .contenedor:hover .slide-effect {
        width: 300%;
    }


</style>


