---
interface Props {
	text: string;
    goesTo: string;
    size: string;
    bgColor: string;
    borderColor: string;
}

const { text, goesTo, size, bgColor, borderColor } = Astro.props;
---
<div class="contenedor">
<div class=`${size} btn ${bgColor} ${borderColor}`>
    <div class="slide-effect">          
    </div>
    <svg class="arrow" width="17" height="10" viewBox="0 0 17 10" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M16.5449 5.12634C16.7786 4.89264 16.7786 4.51374 16.5449 4.28004L12.7366 0.471681C12.5029 0.237981 12.124 0.237981 11.8903 0.471681C11.6566 0.70538 11.6566 1.08428 11.8903 1.31798L15.2755 4.70319L11.8903 8.08839C11.6566 8.32209 11.6566 8.70099 11.8903 8.93469C12.124 9.16839 12.5029 9.16839 12.7366 8.93469L16.5449 5.12634ZM0.941528 5.30161L16.1218 5.30161L16.1218 4.10476L0.941528 4.10476L0.941528 5.30161Z" fill="#0045AC"/>
        </svg>
    <a href={goesTo}>
        {text}
    </a>
</div>
</div>


<style>
    .btn{
        border: 1px solid var(--accent);
        background-color: var(--accent);
        display: flex;
        width: 210px;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        transition: 800ms;
        padding: 6px 0px;
        color:white;
        transition: 800ms;
    }

    a {
        margin-right: 40px;
        z-index: 10;
    }


    .contenedor:hover .btn{
        box-shadow: 11px 13px 20px 9px rgba(0,0,0,0.1);
        color: var(--accent);
    }

    .slide-effect {
        top: 0;
        right: -6px;
        position: absolute;
        width: 25%;
        height: 105%;
        background-color: white;
        transform: skew(-20deg);
        transition: 800ms;
        z-index: 0;
    }

    .contenedor:hover .slide-effect {
        width: 300%;
    }

    .arrow {
        position: absolute;
        right: 16px;
    }

    .btn-lg{

        padding: 2px 30px;
    }

    .btn-sm {

    }

    a{
        text-decoration: none;
    }
</style>


